.App {
  text-align: center;
}



a{
  text-decoration: none !important;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 28vmin;
  pointer-events: none;
}

.App-header {
  background-image: url("back.svg") !important;
  background-repeat: no-repeat;
  background-size: 80rem;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

.btn-success {
  background-color: #4b636e !important;
  font-weight: bold !important;
  color: white !important;
  border:0px solid transparent !important; 
}

.btn-success:hover {
  background-color: #4b636e !important;
  font-weight: bold !important;
  color: white !important;
  border:0px solid transparent !important; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.bs-select {
  display: none !important;
}

.pagination{
  color: black !important;

  
}

.page-link{
  font-size: calc(0.1px + 1.5vmin) !important;
}

.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: -6rem;
  margin-bottom: 1rem;
  max-width: 9rem;
}

.path {
  animation: draw 3.5s infinite;
}
 
 @keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
}
